@model ManagementBook.Models.ErrorViewModel
@{
    ViewData["Title"] = "Lỗi";
}

<h1>@ViewData["Title"]</h1>
<h2>Đã xảy ra lỗi.</h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
<p>Vui lòng thử lại hoặc liên hệ quản trị viên.</p>